<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<nav th:replace="fragments/nav :: nav">.........</nav>
	<div th:include="fragments/sideMenu :: sideMenu"></div>
	<div
		th:replace="fragments/deleteConfirmationModal :: deleteConfirmationModal"></div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="fragments/page-header">Perfumes</h1>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<table class="table table-striped data-tables">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Presentacion</th>
					<th>Fragancia</th>
					<th>Stock</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="perfume : ${perfumes}">
					<td th:text="${perfume.name}"></td>
					<td th:text="${perfume.codeName}"></td>
					<td th:text="${perfume.presentation}"></td>
					<td th:text="${perfume.fragance}"></td>
					<td th:text="${perfume.stock}"></td>
					<td><a class="btn btn-default" href="#modal_delete"
						data-toggle="modal" th:attr="data-id='/perfumes/delete/'+${perfume.id}"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
					<td><a th:href="@{'perfumes/edit/'} + ${perfume.id}"
						class="btn btn-default"> <span
							class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{perfumes/new}" class="btn btn-default" role="button">Nuevo Perfume</a>
	</div>
	<div th:include="fragments/footer :: scripts"></div>
	<div
		th:replace="fragments/deleteConfirmationModal :: deleteConfirmationScripts"></div>
</body>
</html>