<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="container-fluid" th:fragment="sideMenu">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">

			<ul class="nav nav-sidebar">
				<img class="img-responsive img-circle" src="/images/logo3.png"
					width="40" height="40"
					style="float: left; margin-left: 10px; margin-right: 10px; margin-bottom: 5px;" />
				<h4 sec:authentication="name" style="color: wheat;">Usuario</h4>
				<hr />

				<li sec:authorize="hasAnyAuthority('EMPLOYEE','ADMIN')"><a
					href="/profile">MI PERFIL</a></li>

				<li sec:authorize="hasAuthority('ADMIN')"><a href="/users">USUARIOS</a></li>
				<li sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')"><a
					href="/perfumes">PERFUMES</a></li>
				<li sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')"><a
					href="/clothes">ROPA</a></li>

			</ul>
		</div>
	</div>
</div>
</html>